* {
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.hero-everything {
    background-color: #1f2937;
    padding: 10px 10px 40px 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    flex: 1;

}

.header.left {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-start;
    padding-left: 100px;
    font-weight: bold;

}

.header.right {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: flex-end;
    padding-right: 100px;
    gap: 12px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 150px;
    flex: auto;
}

#main {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}

#main-secondary {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: -10px 20px 0 0;
}

.button-1 {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -140px;
    width: 100px;
    padding: 10px 20px;
    font-weight: 600;
    background-color: rgb(0, 106, 255);
    border: 0px none rgb(0, 106, 255);
    color: white;
}

.hero-image {
    display: flex;
}

.left-hero {
    display: flex;
}

.right-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#img-hero {
    display: flex;
    margin: -150px 50px 20px 20px;
}