* {
    font-family: roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.hero-everything {
    background-color: #1f2937;
    padding: 10px 10px 120px 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    flex: 1;

}

.header.left {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-start;
    padding-left: 100px;
    font-weight: bold;

}

.header.right {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: flex-end;
    padding-right: 100px;
    gap: 12px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    margin-top: 150px;
    flex: auto;
}

#main {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}

#main-secondary {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: -10px 20px 0 0;
}

.button-1 {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
    width: 100px;
    padding: 10px 20px;
    font-weight: 600;
    background-color: rgb(0, 106, 255);
    border: 0px none rgb(0, 106, 255);
    color: white;
}

.left-hero {
    display: flex;
    flex-direction: column;
}

.right-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#imgHero {
    display: flex;
    margin-right: 100px;
    margin-left: 30px;
}

#information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.illustration {
    border: 4px solid #3882f6;
    border-radius: 15px;
    padding: 15px;
}

.container-illustrations, 
.subtext-illustrations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-illustrations img {
    margin-right: 80px;
    margin-bottom: -10px;
}

.subtext-illustrations p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    width: 80px;
    height: auto;
    margin-left: -70px;
    flex-basis: 150px;
    flex-shrink: 1;
    margin-bottom: 100px;
}

.container-quote {
    background-color: #E5E7EB;
    padding: 100px 250px;
}

.container-quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-person {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -20px;
}

.call-action {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px 60px;
    width: 1600px;
    height: 60px;
}

.action-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #F9FAF8;
    
}

.action-left #action {
    font-weight: bold;
    font-size: 18px;
}

.action-left #signup {
    font-size: 14px;
    display: flex;
    margin-top: -15px;
    flex-direction: column;
}

.action-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 600px;
}

.action-right button {
    width: 100px;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #3882f6;
    border: 1px solid #E5E7EB;
    color: #E5E7EB;
}

#white {
    background-color: white;
    display: flex;
    margin: 100px;
}

#blue {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

#copyright {
    padding: 20px;
    color: #E5E7EB;
    font-size: 12px;
}